.first {
    width: 100%;
    height: 50px;
    position: fixed; /* stay in place */
    background-color: white;
    padding-top: 20px;
    top: 0; /* remove blank on top */
    left: 0; /* remove blank on left */
    box-shadow: 0 0 3px #3d3d3d; /* Create shadow around object*/
}
.sprite {
    display: inline; /* Display inline*/
    margin-left: 100px;
}
.log {
    margin-left: 650px;
}
.signin {
    display: inline;
    margin-left: 10px;
    padding-bottom: 5px;
}
.divider {
    color: rgba(0, 0, 0, 0.219);
}
.first a {
    text-decoration: none;
    font-size: 16px;
}
.first ul {
    margin-right: 100px;
    list-style-type: none;
    text-align: center;
}
.first ul button {
    background-color: rgb(15, 170, 15);
    border-radius: 4px;
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    clear: both;
}
.first ul a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.712);
}
.first ul a:hover {
    color: black;
}
.first ul a:focus {
    outline: none; /* Remove border around clicked button*/
}
.first ul button:hover {
    background-color: rgb(31, 199, 31);
}
.section1 {
    text-align: center;
    background: url(picture/section-1.jpg) no-repeat;
    height: 600px;
    color: white;
}
.section1 h1 {
    padding-top: 200px;
    font-size: 62px;
}
.section1 button {
    text-align: center;
    color: white;
    background-color: rgb(15, 170, 15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: none;
    margin-top: 50px;
}
.section1 button:hover {
    background-color: rgb(31, 199, 31);
}
.s2main{
    width: 100%;
    height: 550px;
    padding-top: 20px;
}
.section2, .section3 {
    display: inline;
    float: left;
}
.sectionleft {
    width: 35%;
    margin-top: 100px;
    margin-left: 50px;
}
.sectionleft h2 {
    color: orange;
}
.sectionright {
    width: 60%;
    margin-top: 20px;
}
.s3main {
    width: 100%;
    height: 676px;
    background: url("picture/section-3.jpg");
}
.s3left {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.s3right {
    width: 35%;
    float: right;
    text-align: right;
    color: white;
    padding-top: 200px;
    padding-right: 10px;   
    font-size: 20px;
}
.section4 {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.s4 {
    display: inline;
    float: left;
}
.modal-content {
    background-color: #fefefe;
    margin: 30px auto;
    padding: auto;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 0 3px #3d3d3d;
    border-radius: 8px;
}
.modal-header {
    width: 100%;
    height: 75px;
    text-align: center;
}
.s4left, .s4right {
    width: 50%;
}
.s4left button, .s4right button {
    width: 100%;
    height: 75px;
    font-weight: bold;
    border: none;
    font-size: 16px;
    color: #3d3d3d;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    height: auto;
    z-index: 1;
    top: 0;
    margin-top: -50px;
    margin-right: 20px;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-body {
    width: 100%;
    height: 300px;
    padding-top: 10px;
}
.modal-body input {
    width: 60%;
    height: 20px;
    margin: 5px 100px;
}
.modal-signup, .modal-login {
    display: none;
}
.forgotpw {
    margin: 5px 100px 7px;
    height: 30px;
    border: none;
    background-color: white;
}
.btnlog {
    width: 62%;
    height: 40px;
    background-color: rgb(15, 170, 15);
    margin-left: 100px;
    border-radius: 8px;
    color: white;
}
.btnlog:hover {
    background-color: rgb(31, 199, 31);
}
